.main {
    background-color: #cbdae6;
}
.main > .heading {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 5px;
    font-size: 30px;
}
.main > .line {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.main > .information {
    text-align: center;
    font-size: 18px;
    text-indent: 20px;
    font-family: 'Patrick Hand', cursive;
}
.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #ed3713;
    font-size: 22px;
}
.footer > .pier {
    color: #cbdae6;
    padding: 10px;
}
.footer > .socials {
    padding-bottom: 10px;
}
.footer a:link {
    text-decoration: none;
    color: black;
}
.footer a:visited {
    text-decoration: none;
    color: black;
}
.footer a:hover {
    color: #cbdae6;
}
.footer > .footer-links {
    color:#e8e2e1;
    padding: 10px;
}