.main {
    background-color: #cbdae6;
}
.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #EC622E;
    font-size: 22px;
}
.footer > .pier {
    color: #cbdae6;
    padding: 10px;
}
.footer > .socials {
    padding-bottom: 10px;
}
.footer a:link {
    text-decoration: none;
    color: black;
}
.footer a:visited {
    text-decoration: none;
    color: black;
}
.footer a:hover {
    color: #cbdae6;
}
.footer > .footer-links {
    color:#e8e2e1;
    padding: 10px;
}