.rentals-section {
    height: 600px;
    width: 100%;
    background-color: #cbdae6;
    color: black;
    font-family: 'Patrick Hand', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rentals-section > .column-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 400px;
}

.rentals-section > .column-wrapper > .column {
    padding: 30px;
    margin: 30px;
    width: 25%;
    text-align: center;
    background-color: #FDB13D;
    border-radius: 15px;
}

/* <p> tag styles, ordered */

.rentals-section > .column-wrapper > .column p{
    margin: 10px 5px 20px;

}

.rentals-section > .column-wrapper > .column :nth-child(1){
    font-size: 1.4em;
    font-weight: 900;
    padding: 10px;
    height: auto;
    transition: 1s;
}

.rentals-section > .column-wrapper > .column :nth-child(2){
    font-size: 1.2em;
    font-weight: 400;
    padding: 10px;
    height: 100px;
}

.rentals-section > .column-wrapper > .column button {
    background-color: #ed3713;
    border: 1px solid #ed3713;
    border-radius: 10px;
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.4em;
    padding: 8px 15px;
    transition: 1s;
    cursor: pointer;
}

.rentals-section > .column-wrapper > .column button:hover {
    letter-spacing: 2px;
}


