.rentals-section {
    height: 400px;
    width: 100%;
    background-color: #cbdae6;
    color: black;
    font-family: 'Patrick Hand', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rentals-section > .column-wrapper {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.rentals-section > .column-wrapper > .column {
    padding: 30px;
    margin: 42px;
    text-align: center;
    background-color: #FDB13D;
    border-radius: 7px;
}

/*  */
.rentals-section > .column-wrapper > .column {
    
}

.rentals-section > .column-wrapper > .column button {
    background-color: #EC622E;
    border: 1px solid #EC622E;
    border-radius: 10px;
    font-size: 1em;
    padding: 8px 15px;
    transition: 1s;
}

.rentals-section > .column-wrapper > .column button:hover {
    letter-spacing: 2px;
}

